@use "./mixins" as *;
* {
  box-sizing: border-box;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}
.navbar {
  border: white 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    font-family: "shrikhand";
    padding: 0.5rem;
    font-size: 0.5rem;
    @include mobile {
      font-size: 1rem;
    }
    @include tablet {
      padding: 1rem 0 1rem 2rem;
      font-size: 1.5rem;
    }
    @include desktop {
      font-size: 2rem;
    }
  }
  &__link {
    text-decoration: none;
  }
  &__list {
    display: flex;
    list-style: none;
  }
  &__items {
    padding: 1rem;
    margin-right: 1rem;
    font-size: 0.75rem;
    @include tablet {
      font-size: 1rem;
    }
    @include desktop {
      font-size: 1.3rem;
    }
    :hover {
      cursor: pointer;
      padding: 0.5rem;
      border: rgb(195, 255, 236) 1px solid;
      border-radius: 0.5rem;
    }
  }
}
.hero {
  background-image: url("../assets/images/Into_the_water.jpg");
  background-size: cover;
  background-position: center;
  font-family: "shrikhand";
  border-bottom: white 1px solid;
  font-size: 1.5rem;
  height: 10rem;
  padding-top: 6rem;
  @include mobile {
    font-size: 2.5rem;
  }
  @include tablet {
    font-size: 4rem;
    padding-top: 15rem;
    height: 25rem;
  }
}
.aboutme {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  @include tablet {
    align-items: flex-start;
    flex-direction: row;
    margin: 2rem;
  }
  &__body {
    margin: 1rem;
  }

  &__image {
    border-radius: 50%;
    border: white 0.2rem solid;
    height: 10rem;
    margin: 1rem;
    @include tablet {
      height: 18rem;
      margin: 3rem 3rem 0 3rem;
    }
  }
  &__subheader {
    margin: 1.2rem 0;
  }
  &__icon {
    height: 2rem;
    @include tablet {
      height: 2.2rem;
    }
  }
  &__title {
    font-family: "shrikhand";
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem 0;
    border-bottom: white 1px solid;
    @include mobile {
      font-size: 2.5rem;
    }
  }
  &__text {
    font-size: 1rem;
    font-family: nunito;
    padding-bottom: 1rem;
    text-align: left;
    line-height: 20px;
    text-align: center;
    @include tablet {
      font-size: 1rem;
      line-height: 30px;
      padding: 0 3rem;
    }
    @include desktop {
      line-height: 40px;
      font-size: 1.2rem;
      padding: 0 5rem;
    }
  }
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-family: "shrikhand";
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem 0;
    width: 90%;
    border-bottom: white 1px solid;
    @include mobile {
      font-size: 2.5rem;
    }
    @include tablet {
      width: 100%;
    }
  }

  &__text {
    font-family: "nunito";
    font-weight: 300;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    @include tablet {
      line-height: 2rem;
    }
    @include desktop {
      font-size: 1.2rem;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__header {
    font-family: "shrikhand";
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem 0;
    margin: 2rem 0;
    width: 100%;
    background-color: rgba(177, 255, 195, 0.172);
    @include tablet {
      font-size: 1.5rem;
    }
    @include desktop {
      font-size: 2rem;
      padding: 1rem;
      margin: 5rem 0;
    }
    &--special {
      background-color: rgba(198, 247, 210, 0.402);
      font-size: 1rem;
      @include tablet {
        font-size: 1.5rem;
      }
    }
  }
  &__items {
    width: 90%;
    list-style: none;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__gif {
    border: white 2px solid;
    width: 50%;
    border-radius: 30px;
  }
  &__div {
    display: flex;
  }
  &__info {
    color: white;
    font-family: "poppins";
    font-size: 0.5rem;
    text-align: left;
    padding-left: 2rem;
    line-height: 15px;
    @include mobile {
      font-size: 1rem;
      line-height: 25px;
    }
    @include tablet {
      line-height: 35px;
    }
    @include desktop {
      font-size: 1.2rem;
      line-height: 2.5rem;
      padding-left: 8rem;
    }

    &--title {
      font-size: 0.75rem;
      line-height: 40px;
      @include tablet {
        font-size: 1.5rem;
        line-height: 60px;
      }
      @include desktop {
        font-size: 2.2rem;
        line-height: 70px;
      }
    }
  }
  &__video {
    width: 80%;
    border: white 3px solid;
    border-radius: 2rem;
    margin: 2rem 0;
  }
}
.contact {
  &__title {
    font-family: "shrikhand";
    font-size: 1rem;
    margin: 2rem 0 0 0;
    @include tablet {
      font-size: 2rem;
    }
  }
  &__icon {
    margin: 0.5rem 0.5rem;
    text-decoration: none;
    height: 2rem;
    @include tablet {
      height: 3rem;
      margin: 1rem;
    }
  }
  &__link {
    text-decoration: none;
  }
}
